
# 1. Datos y Logs

data/
*.log
logs/

# 2. Entornos Virtuales y Credenciales

venv/
env/
.venv/

# Variables de entorno y contraseñas
.env
*.env
secret*

# 3. Caché de Python

__pycache__/
*.py[cod]
*$py.class

# Credencial de Google Cloud

industrial-data-pipeline-218acf82af89.json
