
# 1. Datos y Logs

data/
*.log
logs/

# 2. Entornos Virtuales y Credenciales

venv/
env/
.venv/

# 3. Variables de entorno y contraseñas
.env
*.env
secret*

# 4. Caché de Python

__pycache__/
*.py[cod]
*$py.class

# 5.Credencial de Google Cloud

industrial-data-pipeline-218acf82af89.json

# 6. Cache pytest

.pytest_cache